@{
    ViewBag.Title = "Witaj w aplikacji Synonimy!";
    string message = ViewBag.Message;
}
@if (!String.IsNullOrEmpty(message))
{
    <h3 class="alert alert-danger">@message</h3>
}
<div class="jumbotron shadow">
    <h1 class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3">Synonimy</h1>

    @using (Html.BeginForm("Pass", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-inline col-lg-offset-2 col-md-offset-1 col-sm-offset-3">
            @Html.Label("Wprowadź hasło aby przejść dalej", new { @class = "lead" })
            @Html.TextBox("pass", "", new { @class = "form-control", @type = "password", autofocus = true })
            <input type="submit" class="btn btn-primary myBtn shadow" value="OK" />
            @Html.Hidden("action", "Synonyms")
        </div>
    }
</div>
